@import "tailwindcss";
@plugin "daisyui";

/* Theme colors for neet */
@theme {
  --color-neet-primary: #FF9800;
  --color-neet-primary-focus: #FFB74D;
  --color-neet-primary-content: #232323;
  --color-neet-secondary: #FFB74D;
  --color-neet-secondary-focus: #FFE0B2;
  --color-neet-secondary-content: #232323;
  --color-neet-accent: #FFE0B2;
  --color-neet-accent-focus: #FFF3E0;
  --color-neet-accent-content: #232323;
  --color-neet-neutral: #232323;
  --color-neet-neutral-focus: #424242;
  --color-neet-neutral-content: #FFE0B2;
  --color-neet-base-100: #F5F5F5;
  --color-neet-base-200: #E0E0E0;
  --color-neet-base-300: #BDBDBD;
  --color-neet-info: #64B5F6;
  --color-neet-success: #81C784;
  --color-neet-warning: #FFD54F;
  --color-neet-error: #E57373;
}

/* Font utility classes for Tailwind */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.font-limelight {
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
}


@keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  
  .animate-blink {
    animation: blink 1s infinite;
  }
  
  .animate-pulse {
    animation: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
  
  .delay-100 {
    animation-delay: 1s;
  }
  
  .delay-200 {
    animation-delay: 2s;
  }
  
  .delay-300 {
    animation-delay: 3s;
  }
  
  .delay-500 {
    animation-delay: 5s;
  }
  
  .delay-700 {
    animation-delay: 7s;
  }
  
  @keyframes pulse {
    0%,
    100% {
      opacity: 0.3;
      transform: scale(1);
    }
    50% {
      opacity: 0.8;
      transform: scale(1.05);
    }
  }
  